body  { 
    color: azure;
   
    background:black;

    
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230408/pngtree-powder-smoke-colorful-background-image_2164096.jpg) ;
    background-size: 1500px;
    image-resolution: 120px;
}

header
{
    text-decoration: overline;
    font-size: 45px;
}

.chamada-texto {
    margin-right: 5%;
  }

  .chamada {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;}
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
 
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid green;
}